h1,
p {
  font-family: Lato;
}
div {
  background-color: orangered;
  margin: 0%;
  padding: 0%;
  border: 0%;
}
.top {
  text-align: center;
  color: black;
  background-color: aqua;
  padding-top: 20%;
  font-size: x-large;
}

.bottom {
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 20%;
  font-size: x-large;
}

.b2 {
  text-align: center;
  background-color: yellow;
  color: blue;
  padding-top: 20%;

  font-size: x-large;
}

.b3 {
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 20%;

  font-size: x-large;
}

.b4 {
  text-align: center;
  color: black;
  padding-top: 20%;

  font-size: x-large;
}
